.card {
  max-width: 220px;
  max-height: 315px;
  height: 285px;
  width: 190px;
}
.card-li {
  width: 220px;
  height: 315px;
}

.fade-in {
  transition: all 0.2s ease-in-out;
  animation: fadeIn ease 2.8s;
  -webkit-animation: fadeIn ease 2.8s;
  -moz-animation: fadeIn ease 2.8s;
  -o-animation: fadeIn ease 2.8s;
  -ms-animation: fadeIn ease 2.8s;
}

.text-footer {
  position: absolute;
  bottom: -10px;
}

/* sidenav interactive */
li {
  list-style: none;
}

.sidenav {
  margin-top: 12vh;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 7px 5px;
  background: #f4f4f442;
}

.sidenav ul {
  display: flex;
}

.sidenav ul li {
  flex: 1 0 60px;
}

.sidenav li .card {
  margin: 10px 10px 10px 0;
}

/* webkit scrollbar */
.scroll::-webkit-scrollbar {
  max-width: 7px;
  height: 12px;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.45);
  border: 4px solid transparent;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(185, 185, 185, 0.55);
}

.grow:hover {
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(185, 185, 185, 0.35);
    border: 4px solid transparent;
    border-radius: 8px;
  }
}
/* fade-in keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
